.contactItem {
    border-radius: 5px;
    margin-bottom: 1em;
    display:flex;
    justify-content: space-between;
    padding: 0.5em;
    box-sizing: border-box;
    
    font-weight: 400;
    
    box-shadow: 0.1em 0 1em var(--shadow-color) ;
    color: var(--color);
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.infoItem {
    display: inline-flex;
    align-items: center;
    gap: .5em;
}

.contactNameIcon {
    color:blue;
}

.contactName {
    /* line-height: 1.2; */
    font-family: 'Arial';
}

.contactPhoneIcon {
    color: green;
}

.contactBtnItem {
    display: flex;
    place-items: center;
}

.btn {
    padding: .3em 1em;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
    width: max-content;
    font-weight: 400;
    color: var(--btn-color);
    background: linear-gradient(90deg, var(--btn-background-dark-color), var(--btn-background-light-color));
    /* background-color: var(--btn-background-light-color); */
}

.btn:hover {
    background: linear-gradient(270deg, var(--btn-background-dark-color), var(--btn-background-light-color));
    /* background: linear-gradient(270deg, #006E10, #01AF19); */
    filter: brightness(120%);
}

